<section class="dashboard">
    <header>
        <img width="55px" src="/icons/fm_be_web.png" alt="">
        <%- loggedUser.team %>
    </header>
    
    <% if (page === 'sprints') { %> <%- include('./sprint_dashboard.ejs') %><% } %>
 
    <div class="collapse"><span class="icon">&laquo;</span></div>
</section>