<nav>
    <div class="banner">
        <img width="40px" src="/icons/agileImage.png" alt="">
    </div>
    <div class="nav-links">
        <a class="nav-link" href="#">Initiatives</a>
        <a class="nav-link" href="#">Epics</a>
        <a class="nav-link" href="#">Stories</a>
        <a class="nav-link" href="/tasks">Tasks</a>
        <a class="nav-link" href="#">Bugs</a>
        <a class="nav-link" href="#">Spikes</a>
        <a class="nav-link" href="/sprints">Sprints</a>
    </div>
    <div class="nav-links">
        <input id="search" type="search" placeholder="&#x1F50D; Search">
    </div>
    <div class="nav-control">
        <!-- <img width="35px" src="/icons/bullhorn_icon.png" alt=""> -->
        <!-- <img width="35px" src="/icons/help_icon.png" alt=""> -->
        <!-- <img width="35px" src="/icons/settings_icon.png" alt=""> -->
        <div id="logged-user" class="nav-button">blank</div>
    </div>
 
</nav>
<div class="nav-user-info">
    <div class="nav-user-info-profile">
        <div class="refer-container">
            <div class="nav-user-info-profile-email">
                dummyEmail@yahoo.com
            </div>
            <span class="nav-user-info-profile-name embedded">dummyUserName</span>
        </div>

        <a href="/profile" class="nav-user-info-profile-access"><img width="18px" src="/icons/profile_icon.png" alt="">
            <span class="nav-user-info-span">Profile</span></a>
        <a href="#" class="nav-user-info-profile-access"><img width="18px" src="/icons/account_icon.png" alt="">
            <span class="nav-user-info-span">Account settings</span></a>
        <a href="#" class="nav-user-info-profile-access"><img width="18px" src="/icons/theme_icon.png" alt="">
            <span class="nav-user-info-span">Theme</span></a>
    </div>
    <div class="nav-user-info-profile">
        <div href="#" class="nav-user-info-profile-access logout"><img width="18px" src="/icons/logout_icon.png" alt="">
            <span class="nav-user-info-span">Log out</span></div>
    </div>
</div>



