<div class="selector-block">
    <div class="selector">
        <img class="icon" src="/icons/files_icon.png" alt=""> Backlog
    </div>
    <div class="selector active">
        <img class="icon" src="/icons/forward_icon.png" alt=""> Active Sprint
    </div> 
    <div class="selector">
        <img class="icon" src="/icons/forward_icon.png" alt=""> History
    </div> 
    <div class="selector">
        <img class="icon" src="/icons/report_icon.png" alt=""> Reports
    </div>
</div>
