<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agile Project Manager</title>
    <link rel="icon" href="/icons/agileImage.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
    <div id="hidden-data"><%-usernames%></div>
    <div class="main-flex">
        <div class="main-container">
            <div class="welcome">
                <div class="top">
                    <div class="column">
                        <input type="text" name="username" autocomplete="off" style="display: none;">
                        <input type="password" name="fake-password" autocomplete="off" style="display: none;">
                        <div class="label">What's your name?</div>
                        <div class="refer-container">
                            <input type="text" name="name" id="name" placeholder="what would you like to be called?">
                            <span class="embedded embedded-red embedded-name">Already taken.</span>
                            <span id="name-check" class="embedded embedded-image"><img width="25px" src="/icons/okay_icon.png"></span>
                        </div>
                        <div class="label">What's a good email address?</div>
                        <div class="refer-container">
                            <input type="text" name="email" id="email" placeholder="your_email@somewhere.com">
                            <span class="embedded embedded-red embedded-email">Already registered.</span>
                            <span id="email-check" class="embedded embedded-image"><img width="25px" src="/icons/okay_icon.png"></span>
                        </div>
                        <div class="sub-label">Any legit address will do. It's not for contacting you.</div>
                        <div class="sub-label second">We'll use it along with a unique identifier for saving your work.</div>
                    </div>
  
                </div>
                <div class="center">
                    <div class="column">
                        <div class="label">What's your job title?</div>
                        <div class="refer-container"><input type="text" name="job-title" id="job-title" placeholder="job title"><span class="embedded">You can fill these out later if you want.</span></div>
                        
                        <div class="label">What department are you in?</div>
                        <div class="refer-container"><input type="text" name="department" id="department" placeholder="department"><span class="embedded">You can fill these out later if you want.</span></div>
                        
                        <div class="label">Your organization?</div>
                        <div class="refer-container"><input type="text" name="organization" id="organization" placeholder="organization"><span class="embedded">You can fill these out later if you want.</span></div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="column">
                        <div class="label">Think of a good password:</div>
                        <div class="refer-container"><input type="password" name="password" id="password" placeholder="●●●●●●●●"><span id="password-check" class="embedded embedded-image"><img width="25px" src="/icons/okay_icon.png"></span></div>
                        <div class="sub-label">
                            Make it fun: at least 
                            <span id="a-length">8 characters</span> with
                            <span id="a-number">a number</span>, 
                            <span id="a-capital">a capital letter</span>, and
                            <span id="a-symbol">a symbol</span> 
                            to keep things interesting!</div>
                    </div>
                </div>
            </div>
                <div class="welcome-bottom">
                    <div class="welcome-aboard">
                        <p>Welcome aboard.</p><p>May your projects come into fruition.</p><p>We're here to <span class="cursive">simplify</span> .</p>
                    </div>
                    <div class="finished disabled">
                        <p>Looks good and you're <span class="cursive">ready to go</span> .</p>
                        <div id="finished-button" class="form-button">Ready</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/create.js"></script>
</body>
</html>