<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agile Project Manager</title>
    <link rel="icon" href="/icons/agileImage.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>

    <div class="main-flex">
        <div class="main-container">
            <div class="welcome">
                <div class="top">
                    <div class="column">
                        <div class="label">What's your name?</div>
                        <input type="text" name="first" id="first" placeholder="what would you like to be called?">
                        <div class="label">What's a good email address?</div>
                        <input type="email" name="email" id="email" placeholder="your_email@somewhere.com">
                        <div class="sub-label">Any legit address will do. It's not for contacting you.</div>
                        <div class="sub-label second">We'll use it along with a unique identifier for saving your work.</div>
                    </div>
  
                </div>
                <div class="center">
                    <div class="column">
                        <div class="label">What's your job title?</div>
                        <input type="text" name="job-title" id="job-title" placeholder="job title">
                        <div class="label">What department are you in?</div>
                        <input type="text" name="department" id="department" placeholder="department">
                        <div class="label">Your organization?</div>
                        <input type="text" name="organization" id="organization" placeholder="organization">
                 
                    </div>
                </div>
                <div class="bottom">
                    <div class="column">
                        <div class="label">Think of a good password:</div>
                        <input type="password" name="password" id="password" placeholder="●●●●●●●●">  
                        <div class="sub-label">Make it fun: at least 8 characters with a number, a capital letter, and a symbol to keep things interesting!</div>
                    </div>
                </div>
            </div>
            <div class="welcome-bottom">
                <div class="welcome-aboard">
                    <p>Welcome aboard.</p><p>May your projects come into fruition.</p><p>We're here to <span class="cursive">simplify</span>.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/create.js"></script>
</body>
</html>