<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agile Project Manager</title>
    <link rel="icon" href="/icons/agileImage.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <div class="main-flex">
        <div class="main-container">
            <div class="welcome">
                <div class="top">
                    <div class="label">Email Address</div>
                    <input type="email" name="email" id="email" placeholder="your_email@somewhere.com">
                </div>
                <div class="center">
                    <div class="label">Password</div>
                    <input type="password" name="password" id="password" placeholder="●●●●●●●●">  
                </div>
                <div class="bottom">
                    <div id="create-button" class="form-button">Create account</div>
                    <div class="form-button">Forgot password</div>
                    <div id="login-button" class="form-button disabled">Login</div>
                </div>
            </div>
            <div class="welcome-bottom">
                <div class="bad-credentials">
                    <p>Hmm... something doesn’t match. Double-check your email and password.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>