<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agile Project Manager</title>
    <link rel="icon" href="/icons/agileImage.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <%- include('partials/nav.ejs') %>

    <div class="main-flex">
        <div class="main-container">
            <div class="profile-form">
                <div class="profile-heading">
                    <div class="refer-container">
                        <div class="profile-bg"></div>
                        <div class="profile-embedded-edit"></div>
                        <div class="profile-embedded-avatar"><img class="profile-embedded-avatar-image" src="/avatars/kitty_avatar.png" alt=""></div>
                    </div>
                </div>
 
            </div>
            <div class="teams-form">

            </div>
        </div>

    <script src="/js/profile.js"></script>
    <script src="/js/nav.js"></script>
</body>

</html>