.card {
    min-height: 150px;
    background-color: var(--card-grey-light);
    border: 1px solid var(--card-grey);
    border-radius: 2px;
    box-shadow:
        0 2px 3px var(--card-grey),
        inset 0 0 20px 20px var(--card-grey-light);
    margin: 5px 5px 10px 5px;
    padding: 20px 15px;
    overflow: hidden;
}

.card:active {
    translate: 0 1px;
}

.card-title {
    color: var(--font-grey);
    font-size: small;
    font-weight: 700;
}

.card-description {
    margin-top: 20px;
    width: 65%;
}

.card-sprint-id {
    margin-top: 20px;
    width: 65%;
    padding: 0 10px 2px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: whitesmoke;
    border-radius: 5px;
}

.card-tagsLine {
    margin-top: 20px;
    max-height: 30px;
}

.card-icon {
    width: 20px;
    margin-right: 5px;
}

.card-user {
    color: var(--card-grey);
    font-weight: 700;
    font-size: 4em;
    transform: rotate(-90deg);
    transform-origin: top left;
    position: relative;
    left: 10%;
    translate: 0% 0%;
    white-space: nowrap;
    margin-left: 62%;
    opacity: 1;
    text-shadow: 0 0 5px var(--card-grey);
}

.trivial {
    background-color: hsl(0, 0%, 70%);
    color: black;
}

.minor {
    background-color: hsl(240, 60%, 60%);
}

.normal {
    background-color: hsl(120, 60%, 40%);
}

.major {
    background-color: hsl(0, 80%, 60%);
}

.blocker {
    color: yellow;
    background-color: hsl(0, 80%, 60%);
    box-shadow: 0 0 3px red;
}