.main-container {
    opacity: 0;
    transition: opacity 500ms;
    justify-content: center;
}

.welcome,
.welcome-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    border-radius: 5px;
    flex: 0 0 800px;
    align-self: center;
    background-color: var(--bubble-grey);
    box-shadow: -.25px 1px 4px var(--bubble-grey);
}

.welcome-bottom {
    flex: 0 0 60px;
    translate: 0 -5px;
    opacity: 1;
    transition: opacity 500ms;
}

.top,
.center,
.bottom,
.welcome-aboard {
    width: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
    /* border: 1px solid black; */
}

.top {
    margin-top: 20px;
}

.center {
    margin-top: 30px;
}

.welcome-aboard {
    flex: 1 1 10%;
    background-color: var(--welcome-aboard-bg-color);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
}

.column {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
}

p {
    padding: 0 10px;
}

span.cursive {
    padding-left: 2px;
    font-size: 1.1em;
    font-style: italic;
    font-stretch: expanded;
    color: whitesmoke;
    text-shadow: 0 0 4px darkgreen,
        0 0 1px black,
        0 0 1px black;
}

.show {
    opacity: 1;
}



.label {
    margin: 20px 20px 5px 0;
    width: 80%;
    user-select: none;
}

.sub-label {
    margin: 2px 0 0 2px;
    color: lightgrey;
    opacity: .8;
    font-size: .75em;
}

.sub-label.second {
    opacity: .5;
}

input {
    /* width: 90%; */
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: inset 0 0 5px var(--bubble-grey-dark);
    border: none;
    transition: all 150ms;
    color: whitesmoke;
}

input::placeholder {
    color: lightgrey;
    margin-left: 10px;
    opacity: .5;
}



input:focus-visible {
    outline: none;
    box-shadow:
        inset 0 0 5px var(--bubble-grey-dark),
        0 0 20px var(--bubble-grey-light);
}

.form-button {
    height: 25px;
    margin: 0 5px;
    text-align: center;
    font-size: small;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 1px 5px var(--bubble-grey-dark);
    background-color: var(--bubble-grey);
    color: whitesmoke;
    align-content: center;
    flex: 0 1 21%;
    transition: all 150ms;
    cursor: pointer;
    user-select: none;
}

.hovered {
    box-shadow:
        0 1px 5px var(--bubble-grey-dark),
        0 0 20px var(--bubble-grey-light),
        inset 0 0 2px var(--bubble-grey-dark);
}

.pressed {
    translate: 0 1px;
    box-shadow: 0 1px 1px var(--bubble-grey-dark) !important;
}

.disabled {
    opacity: .5;
    background-color: var(--bubble-grey);
    translate: 0 1px;
    box-shadow: 0 1px 1px var(--bubble-grey-dark);
    cursor: default;
}