section.dashboard {
    background-color: var(--panel-grey);
    width: 25%;
    max-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

section header {
    display: flex;
    align-items: center;
    height: 80px;
    font-weight: 800;
    color: hsl(210, 28%, 31%);
    margin-bottom: 10px;
}

header img {
    padding: 0 10px;
    align-content: center;
}

section.selector-block {
    display: flex;
}

.selector {
    display: flex;
    height: 40px;
    padding: 0 15px;
    align-items: center;
    cursor: pointer;
}

.selector:hover,
.selector.active {
    background-color: var(--panel-grey-selected);
}

.collapse {
    text-align: right;
    align-content: end;
    padding: 70px 10px;
    margin-top: auto;
    cursor: pointer;
}

img.icon {
    width: 22px;
    margin-right: 10px
}