* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 400;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-image: var(--blue-skies);
}

.main-flex {
    display: flex;
    height: calc(100vh - 46px);
}

.main-container {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

:root {
    --panel-grey: rgba(222, 230, 237, .75);
    --panel-grey-selected: hsl(207, 40%, 75%);
    --bubble-grey-light: hsl(207, 40%, 75%);
    --bubble-grey: hsl(207, 40%, 50%);
    --bubble-grey-dark: hsl(207, 40%, 30%);
    --font-grey: hsl(207, 20%, 60%);
    --font-grey-dark: hsl(207, 20%, 50%);
    --card-grey: hsl(207, 20%, 80%);
    --card-grey-hover: hsl(207, 20%, 90%);
    --card-grey-light: hsl(207, 20%, 98%);

    --initiative-bg-color: hsl(51, 100%, 80%);
    --initiative-color: black;
    --epic-bg-color: gold;
    --epic-color: black;
    --story-bg-color: hsl(120, 60%, 40%);
    --story-color: whitesmoke;
    --task-bg-color: hsl(240, 60%, 60%);
    --task-color: whitesmoke;
    --bug-bg-color: black;
    --bug-color: whitesmoke;
    --spike-bg-color: hsl(0, 0%, 70%);
    --spike-color: black;
    --blocker-bg-color: hsl(0, 100%, 40%);
    --blocker-color: whitesmoke;

    --blue-skies: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}