nav {
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    height: 46px;
    background-color: var(--bubble-grey);
    box-shadow: -.25px 1px 3px var(--bubble-grey);
    border-bottom: 1px solid var(--bubble-grey-dark);
    align-items: center;
}

a {
    color: whitesmoke;
    text-decoration: none;
    transition: all 250ms;
}

.banner {
    flex: 1 1 10%;
    justify-content: flex-start;
    height: 100%;
    align-self: center;
    /* translate: 0 -5px; */
    /* border: 1px solid black; */
    padding-left: 20px;
}

.banner img {
    translate: 0 .5px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;
    height: 100%;
    align-items: center;
    transition: all 500ms;
    /* border: 1px solid black; */
}

.nav-control {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 1 1 10%;
    justify-content: flex-end;
    /* border: 1px solid black; */
}

.nav-link {
    text-align: center;
    align-content: center;
    cursor: pointer;
    padding: 0 8px;
    height: 100%;
    flex: 0 1 80px;
}

.nav-button {
    display: flex;
    height: 10px;
    margin-right: 25px;
    text-align: center;
    font-size: small;
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: 0 1px 5px var(--bubble-grey-dark);
    background-color: var(--bubble-grey);
    color: whitesmoke;
    align-content: center;
    align-self: center;
    align-items: center;
    /* flex: 0 0 90%; */
    transition: all 150ms;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-link:hover {
    background-color: var(--bubble-grey-light);
    cursor: pointer;
}

.nav-button:hover {
    box-shadow:
        0 1px 5px var(--bubble-grey-dark),
        0 0 20px var(--bubble-grey-light),
        inset 0 0 2px var(--bubble-grey-dark);
    cursor: pointer;
}

.nav-button.active,
.nav-link.active {
    background-color: var(--bubble-grey-dark);
    border-bottom: 2px;
}

input[type='search'] {
    height: 32px;
    flex: 1 1 25%;
    align-content: center;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 5px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: inset 0 0 5px var(--bubble-grey-dark);
    border: none;
    transition: all 150ms;
    color: whitesmoke;
}

input[type='search']::placeholder {
    color: lightgrey;
    margin-left: 10px;
    opacity: .8;
}

input[type='search']:focus-visible {
    outline: none;
    box-shadow:
        inset 0 0 5px var(--bubble-grey-dark),
        0 0 20px var(--bubble-grey-light);
}

.nav-user-info {
    display: none;
    opacity: 0;
    position: absolute;
    right: 5px;
    width: 350px;
    background-color: var(--panel-grey);
    backdrop-filter: blur(20px);
    border-radius: 2px;
    z-index: 400;
    box-shadow: -.25px 1px 4px var(--bubble-grey);
    transition: opacity 500ms;
}

.nav-user-info-span {
    color: black;
}

.nav-user-info-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.nav-user-info-profile-email {
    width: 80%;
    margin: 5%;
    padding: 3% 5% 7% 5%;
    text-align: center;
    font-size: large;
    background-color: var(--bubble-grey-light);
    border-radius: 5px;
}

.nav-user-info-profile-access {
    width: 90%;
    padding: 2% 5%;
    border-left: 2px solid transparent;
    display: flex;

}

.nav-user-info-profile-access:hover {
    background-color: var(--bubble-grey-light);
    border-left: 2px solid var(--bubble-grey);
}

.nav-user-info-span {
    margin-left: 20px;
    font-size: small;
}

.logout {
    border-top: 1px solid var(--panel-grey-dark);
    margin-top: 5%;
    padding: 5%;
    cursor: pointer;
}

.refer-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
}

.embedded {
    color: black;
    text-shadow: 0 0 1px var(--panel-grey-dark);
    opacity: .35;
    position: absolute;
    pointer-events: none;
    font-size: .85em;
    transform-origin: center;
    translate: 50%;
    right: 50%;
    bottom: 30px;
    pointer-events: none;
}

.show {
    opacity: 1;
}

.display {
    display: block;
}