nav {
    height: 30px;
    border-bottom: 1px solid black;
    /* align-items: center; */
    padding: 8px 20px 8px 20px;
    background-color: var(--panel-grey);
    display: flex;
    flex-direction: row;
}

.banner {
    flex: 0 0 260px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex: 1 0 800px;
}

.nav-control {
    display: flex;
    flex-direction: row;
    flex: 0 0 500px;
    justify-content: space-between;
}

.nav-link {
    text-align: center;
    cursor: pointer;
    padding: 4px 8px 0 8px;
    flex: 0 0 80px;
}

.nav-button {
    height: 25px;
    margin: 2px 0 0 10px;
    text-align: center;
    font-size: small;
    border-radius: 2px;
    padding: 0 8px 0 8px;
    box-shadow: -.25px 1px 1px var(--bubble-grey);
    background-color: var(--bubble-grey);
    color: whitesmoke;
    align-content: center;
    flex: 0 0 80px;
}

.nav-link:hover,
.nav-button:hover {
    background-color: var(--bubble-grey-light);
}

.drop-down {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 13px 8px;
}

.drop-down:hover,
.drop-down.active {
    background-color: var(--bubble-grey-light);
}

.bubble {
    width: 60px;
    text-align: center;
    font-size: small;
    border-radius: 2px;
    padding: 1px 8px 2px 8px;
    margin-right: 5px;
    box-shadow: -.25px 1px 1px var(--bubble-grey);
    background-color: var(--bubble-grey);
    color: whitesmoke;
}

.spacer {
    background-color: black;
    display: inline-block;
    min-width: 226px;
    max-width: 226px;
}

.big-spacer {
    background-color: black;
    display: inline-block;
    width: 40%;
    margin: auto;
}

input[type='search'] {
    border-radius: 2px;
    border-color: hsl(210, 100%, 36%);
    background-color: lightslategrey;
    color: whitesmoke;
}

input[type='search']::placeholder {
    color: lightgrey;
}