nav {
    height: 30px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px 8px 20px;
    background-color: var(--panel-grey);
}

.drop-down {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 13px 8px;
}

.drop-down:hover,
.drop-down.active {
    background-color: var(--bubble-grey-light);
}

.bubble {
    width: 60px;
    text-align: center;
    font-size: small;
    border-radius: 2px;
    padding: 1px 8px 2px 8px;
    margin-right: 5px;
    box-shadow: -.25px 1px 1px var(--bubble-grey);
    background-color: var(--bubble-grey);
    color: whitesmoke;
}

.spacer {
    background-color: black;
    display: inline-block;
    min-width: 226px;
    max-width: 226px;
}

.big-spacer {
    background-color: black;
    display: inline-block;
    width: 40%;
    margin: auto;
}

input[type='search'] {
    border-radius: 2px;
    border-color: hsl(210, 100%, 36%);
    background-color: lightslategrey;
    color: whitesmoke;
}

input[type='search']::placeholder {
    color: lightgrey;
}